/* un max-width all section di cards */
.m-w1200 {
  max-width: 1200px;
}

/* dare un style al titolo */
.p-prop {
  margin: 50px auto;
  color: wheat;
  display: flex;
  justify-content: center;
  font-size: 3rem;
}

/* Centrare il testo nel paragrafo */
.centrare {
  text-align: center;
}
